<!DOCTYPE html>
<html>
<head>
  <title>Day 5 Weekend Challenge</title>
  <script type="text/javascript" src="/scripts/jquery-1.12.3.js"></script>
  <script type="text/javascript" src="scripts/clientapp.js"></script>
  <link rel="stylesheet" href="form-style.css" />


</head>
<body>
<h1>Employee Information:</h1>
<div>
  <form id="employeeinfo">
    <label for="employeefirstname">Employee First Name:</label>
    <input type="text" id="employeefirstname" name="firstname" />

    <label for="employeelastname">Employee Last Name:</label>
    <input type="text" id="employeelastname" name="lastname" />

    <label for="employeeId">Employee ID Number:</label>
    <input type="text" id="employeeId" name="empid"  />

    <label for="employeeJobTitle">Employee Job Title:</label>
    <input type="text" id="employeeJobTitle" name="jobtitle" />

    <label for="employeeSalary">Employee Salary:</label>
    <input type="number" id="employeeSalary" name="salary" />

    <input type="submit" value="Submit Employee" />

  </form>
</div>
<div id="container">
  <h2>Employees:</h2>

</div>
<div id="allSalary">
</div>


</body>
</html>
